body {
  background: darkslategrey;
}
#calculator {
    border-style: solid;
    border-radius: 5%;
    height: 375px;
    width: 250px;
    margin: auto;
    background: #381D2A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #bottomDisplay {
    text-align: right;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background: lightsteelblue;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 95%;
    height: 30px;
    margin-left: 4px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid wheat 1px;
    border-bottom: solid wheat 1px;
    border-left: solid wheat 1px;
  }
  
  #topDisplay {
    text-align: right;
    background: lightsteelblue;
    color: #404040;
    font-family: 'Courier New', Courier, monospace;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    width: 95%;
    height: 30px;
    margin-left: 4px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 200%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid wheat 1px;
    border-top: solid wheat 1px;
    border-left: solid wheat 1px;

  }
  
.row {
  display:flex;
  justify-content: space-around;
  }

.numberButton {
  background: #F4F7F5;
  border: solid 1px #222823;
}

.nonNumberButton {
  background: #8b0000;
  border: solid 1px #222823;
}

button {
     border: solid black 1px;
     border-radius: 10%;
     color: #FF5400; 
     font-weight: bold;
     font-size: larger;
     height: 56px;
     width: 57px;
  }